@font-face {
  font-family: "myFirstFont";
  src: url(./Media-Files/Fonts/MagicSchoolOne-ovYz.ttf);
}
@font-face {
  font-family: "secondFont";
  src: url(./Media-Files/Fonts/Dumbledor2Thin-3a3M.ttf);
}

h1 {
  color: gold;
  font-family: "myFirstFont";
}
button {
  font-family: "secondFont";
}
body {
  background-image: url(./Media-Files/32966.jpg);
  font-family: "secondFont";
}
.navButton {
  font-family: "secondFont";
  font-size: x-large;
}

/* Mobile Responsive Start */
@media (max-width: 375px) {
  .navButton {
    width: 100%;
    color: white;
    padding: 20px;
    font-family: "secondFont";
    font-size: large;
    font-weight: bolder;
  }
}
@media (max-width: 768px) {
  .navButton {
    width: 100%;
    color: white;
    padding: 10px;
    font-family: "secondFont";
    font-size: large;
    font-weight: bolder;
  }
}
